nav {

    padding: 10px;
}
ul {
color: brown;
}

/*# pour les id*/
#Myul {
display: flex;
gap :10px;
list-style: none;


}

/*Point pour les classes | les a à l'interieur de la class Mylink*/
.Mylink a{
text-decoration: none;
color: brown;
}